<!DOCTYPE html>
<html>
	<head>
		<% include includes/head-content.include.ejs %>
		<%	include includes/icons.include.ejs %>

		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/stay_standalone.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<%	include includes/css.include.ejs %>
	</head>
	<body>
		<% include includes/header.include.ejs %>
		<%- include("includes/navbar.include.ejs", {nav : nav})%>
		<div id='manage_accessories' class='page page-nav'>
			<div id="access_header">
				
				<h2 id='all_acch2' data-ripple='rgba(0,0,0, 0.3)' class=" material-shadow-fade-3" >Tous &nbsp;&nbsp; <i class='fa fa-caret-down'></i></h2>
			</div>
			<img id='loading_accessories' src="/img/loading.gif"/>
			<div id='all_accessories'></div>
			<div id='update' data-ripple="rgba(0,0,0, 0.3)" class="material-shadow-2 material-design-normal-button" >Modifier</div>
		

	
		</div>
		<div data-ripple="rgba(0,0,0, 0.3)" class="material-button material-shadow-3 "><i class="fa fa-th" aria-hidden="true"></i></div>
	</body>
  <script src='/js/snackbar.min.js'></script>
<script>var message = '<%- error %>';</script>
	<script src="/js/common.js"></script>
	<script>
var roomName = localStorage.getItem('roomName');
if(roomName != null){
			$('#all_acch2').html(roomName +" &nbsp;&nbsp; <i class='fa fa-caret-down'></i>");
}
var roomSaved = 0;
		var is_updating = false, //pour savoir si on est  en train de modifier les accessoires
accesorie_editing_oldName = null,
			accesorie_editing_aid = null,
			first_load = true, //pour savoir si l'image de chargement a deja ete cachee

			all_accessories = {}, //stocke le tableau de tous les accessoires
			show_actual = '#empty', //lors ce que l'on edit, pour savoir qu'elle popup cacher lorsqu'on clique a cote
			img_correspond = 0,
			form_display = '';//tableau faisant correspondre les identifiants des accessoires aux icones correspondantes
	</script>
 <script src="/socket.io/socket.io.js"></script>
	<script src='/js/navbar_auto.js'></script>
	<script src='/js/accessories.js'></script>
	<script src='/js/change_disp.js'></script>


	<script>
function getKeyByValue(value) {
    var d = Object.keys(all_accessories);
    var e = d.length;

    for (var g = 0; g < e; g++) {

        if (all_accessories[d[g]].aid == value) {
            return d[g];
        }
    }

}
$.getJSON("/accessories_icon/", function (data) {
    img_correspond = data;

});



</script>


		<% 
var contentNames = Object.keys(content);
var contentL = contentNames.length;

		var loaded ={};
		for(var u = 0; u < contentL; u++){ 
var y = new RegExp(content[contentNames[u]].page,'g');
			if(page_name.match(y) && !loaded[content[contentNames[u]].script]){
loaded[content[contentNames[u]].script] == 1;%>
	<%- content[contentNames[u]].script%>
	<%	}}
	%>
</html>