<!DOCTYPE html>
<html>
	<head>
		<% include includes/head-content.include.ejs %>
		<%	include includes/icons.include.ejs %>
		<%	include includes/css.include.ejs %>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/stay_standalone.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
	<body>
		<% include includes/header.include.ejs %>
		<%- include("includes/navbar.include.ejs", {nav : nav})%>
		<div class='page page-nav'>
			<h2>Annuler cet appareil ?</h2>
			<p>Il ne pourra plus se connecter à Prometheus sans mot de passe</p>
			<a id="add_device" href="/remove_allowed_device/">OUI</a>
		</div>
	</body>
	<script src='/js/navbar_auto.js'></script>
	<% 
		var contentL = content.length;
		for(var u = 0; u < contentL; u++){ %>
	<%- content[u] %>
	<%	}
	%>
</html>
