
<!DOCTYPE html>
<html>
	<head>
		<% include includes/head-content.include.ejs %>
		<%	include includes/icons.include.ejs %>
		<%	include includes/css.include.ejs %>

		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/stay_standalone.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" type="text/css"href="/css/bootstrap-colorpicker.min.css">

		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
	<body>

		<% include includes/header.include.ejs %>
		<%- include("includes/navbar.include.ejs", {nav : nav})%>
		<div  id='settings_page'  class='page page-nav'>

<div id="settings-step-back"> <i class='fa fa-chevron-left'></i>  Retour</div>
<div id='settings_main_menu'>
			<h2>Réglages</h2>
<div id='pluginsButton' class='settings_menu_button'>
<i class='fa fa-plug'></i><span>Plugins</span> </div>
<div id='styleButton' class='settings_menu_button'>
<i class='fa fa-pencil'></i><span>Style</span></div>
<div id='conditionsButton' class='settings_menu_button'>
<i class='fa fa-codepen'></i><span>Recettes</span></div>

<% 
		var settingsN = Object.keys(settings);
	var settingsL = settingsN.length;
for(var i = 0; i < settingsL; i++){ %>
	<%- "<div id='"+ settings [settingsN[i]]. buttonName +"'class='settings_menu_button'>"+ settings [settingsN[i]]. buttonIcon +"<span>"+ settings [settingsN[i]].title+"</span></div> "%>
	<%	}
	%>
</div>
<div class='settings_page settings_menu' id='styleBox'>
<h2>Style</h2>
<div id='flexStyle'>
<div>
<h3>Couleur primaire</h3>
<div id="cp8_container">

</div>
</div><div>
<h3>Couleur de l’arrière-plan</h3>
<div id="cp9_container">

</div>
</div>
</div>
<button id='resetColors'>Original</button>
<button id='saveColors'>Sauvegarder</button>
</div>

<div class='settings_page settings_menu' id='conditionsBox'>
<h2>Recettes</h2>
<p>Ici vous pouvez créer/modifier une nouvelle recette, des actions lancées à partir d'évênements, conditions.</p>
<div id='buttonsTopRecipe'>
<button id='createNewRecipe'>Créer une nouvelle recette</button>
<button id='modifyRecipe'>Modifier une recette</button>
</div>
<div id="blocklyDiv"></div>
<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
  <category name="Logic" colour="#5C81A6">
    <block type="controls_if"></block>
    <block type="logic_compare">
      <field name="OP">EQ</field>
    </block>
    <block type="logic_operation">
      <field name="OP">AND</field>
    </block>
    <block type="logic_negate"></block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
    <block type="logic_null"></block>
    <block type="logic_ternary"></block>
  </category>
  <category name="Loops" colour="#5CA65C">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil">
      <field name="MODE">WHILE</field>
    </block>
    <block type="controls_for">
      <field name="VAR" id="u]Nx4ftP4QBA/2T}9ykg" variabletype="">i</field>
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach">
      <field name="VAR" id="K1$@BMFA^!S|8]EQ.j_I" variabletype="">j</field>
    </block>
    <block type="controls_flow_statements">
      <field name="FLOW">BREAK</field>
    </block>
  </category>
  <category name="Math" colour="#5C68A6">
    <block type="math_round">
      <field name="OP">ROUND</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="math_single">
      <field name="OP">ROOT</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <field name="OP">SIN</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant">
      <field name="CONSTANT">PI</field>
    </block>
    <block type="math_number_property">
      <mutation divisor_input="false"></mutation>
      <field name="PROPERTY">EVEN</field>
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_arithmetic">
      <field name="OP">ADD</field>
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list">
      <mutation op="SUM"></mutation>
      <field name="OP">SUM</field>
    </block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
  </category>
  <category name="Text" colour="#5CA68D">
    <block type="text_charAt">
      <mutation at="true"></mutation>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="aV7QX8^GQltCt(_C]]IN" variabletype="">text</field>
        </block>
      </value>
    </block>
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="text_append">
      <field name="VAR" id="hNkS{Y)cUfAVZzpyNCEE" variabletype="">item</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="aV7QX8^GQltCt(_C]]IN" variabletype="">text</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_join">
      <mutation items="2"></mutation>
    </block>
    <block type="text_getSubstring">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR" id="aV7QX8^GQltCt(_C]]IN" variabletype="">text</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase">
      <field name="CASE">UPPERCASE</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_trim">
      <field name="MODE">BOTH</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_prompt_ext">
      <mutation type="TEXT"></mutation>
      <field name="TYPE">TEXT</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
  <category name="Lists" colour="#745CA6">
    <block type="lists_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="*fK@I}IM2?X!bM)T@,=+" variabletype="">list</field>
        </block>
      </value>
    </block>
    <block type="lists_create_with">
      <mutation items="0"></mutation>
    </block>
    <block type="lists_repeat">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">5</field>
        </shadow>
      </value>
    </block>
    <block type="lists_length"></block>
    <block type="lists_isEmpty"></block>
    <block type="lists_create_with">
      <mutation items="3"></mutation>
    </block>
    <block type="lists_getIndex">
      <mutation statement="false" at="true"></mutation>
      <field name="MODE">GET</field>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="*fK@I}IM2?X!bM)T@,=+" variabletype="">list</field>
        </block>
      </value>
    </block>
    <block type="lists_setIndex">
      <mutation at="true"></mutation>
      <field name="MODE">SET</field>
      <field name="WHERE">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="*fK@I}IM2?X!bM)T@,=+" variabletype="">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getSublist">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="*fK@I}IM2?X!bM)T@,=+" variabletype="">list</field>
        </block>
      </value>
    </block>
    <block type="lists_split">
      <mutation mode="SPLIT"></mutation>
      <field name="MODE">SPLIT</field>
      <value name="DELIM">
        <shadow type="text">
          <field name="TEXT">,</field>
        </shadow>
      </value>
    </block>
    <block type="lists_sort">
      <field name="TYPE">NUMERIC</field>
      <field name="DIRECTION">1</field>
    </block>
  </category>
  <category name="Colour" colour="#A6745C">
    <block type="colour_picker">
      <field name="COLOUR">#ff0000</field>
    </block>
    <block type="colour_random"></block>
    <block type="colour_rgb">
      <value name="RED">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
      <value name="GREEN">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="BLUE">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="colour_blend">
      <value name="COLOUR1">
        <shadow type="colour_picker">
          <field name="COLOUR">#ff0000</field>
        </shadow>
      </value>
      <value name="COLOUR2">
        <shadow type="colour_picker">
          <field name="COLOUR">#3333ff</field>
        </shadow>
      </value>
      <value name="RATIO">
        <shadow type="math_number">
          <field name="NUM">0.5</field>
        </shadow>
      </value>
    </block>
  </category>
  <sep></sep>
  <category name="Variables" colour="#A65C81" custom="VARIABLE"></category>
  <category name="Functions" colour="#9A5CA6" custom="PROCEDURE"></category>
  <category name="Homebridge" colour="#6da55b">
    <block type="_teindre">
      <field name="trnOFF">choisir</field>
    </block>
    <block type="allumer">
      <field name="lightAccessories">choisir</field>
    </block>
    <block type="temp_rature_de">
      <field name="NAME">choisir </field>
    </block>
    <block type="_tat_de">
      <field name="NAME">choisir</field>
    </block>
    <block type="quand">
      <field name="NAME">choisir</field>
      <field name="state">act</field>
    </block>
  </category>
  <category name="Pratos" colour="#5ba5a5">
    <block type="pratos_set_state">
      <field name="NAME">restart</field>
    </block>
    <block type="plugins_do">
      <field name="plugins">choisir</field>
      <field name="NAME">delete</field>
    </block>
  </category>
  <category name="Autres" colour="#a55b80">
    <block type="datetime">
      <field name="day">1</field>
      <field name="month">1</field>
      <field name="year">2018</field>
      <field name="hour">10</field>
      <field name="minutes">0</field>
      <field name="seconds">0</field>
    </block>
    <block type="cronjob">
      <field name="cronval">* * * * *</field>
    </block>
    <block type="get_date"></block>
  </category>
</xml>
<!--
<textarea id='genratorBlockly'></textarea>
-->
<div id='conditionsButtons'>
<input type='text' placeholder='Nom de la recette' id='saveConditionsFile'/>
<button id='saveConditions'>Sauvegarder</button>
</div>
</div>


<div class='settings_page settings_menu' id='pluginsBox'>
<h2>Plugins</h2>

<div id='deletePluginsButton' class='settings_menu_button'>
<i class='fa fa-trash'></i><span>Supprimer</span> </div>

<div id='turnPluginsButton' class='settings_menu_button'>
<i class='fa fa-eye-slash'></i><span>Gérer</span> </div>
</div>

<div class='settings_page settings_pagebox  settings_menu' id='deletePluginsBox'>


</div>

<div class='settings_page settings_pagebox settings_menu' id='turnPluginsBox'>

</div>
<%
for(var i = 0; i < settingsL; i++){ %>
	<%- "<div class='settings_page settings_pagebox settings_menu' id='"+ settings [settingsN[i]].buttonName.replace("Button","Box")+"'>"+ settings [settingsN[i]].boxContent +"</div> "%>
	<%	}
	%>
		<div id='rebootpopup' class='popup'>
			<h2>Redémarrer</h2>
			<p>Pour appliquer les modifications, Pratos doit redémarrer. Voulez-vous redémarrer maintenant ?</p>
					<button onClick='reboot(true)'  id='validate_ban'>Oui</button>
					<button onClick='reboot(false)' id='validate_ban'>Non</button>
		</div>
		</div>

	</body>

	
	<script src='/js/navbar_auto.js'></script>
		<script src="/js/bootstrap-colorpicker.min.js"></script>
 <script src="/socket.io/socket.io.js"></script>

<script>
var show_actual;
var nbLoaded=0;
var workspacePlayground
var modifyBlocks;
var loadJS = function(url, implementationCode, location){
    //url is URL of external file, implementationCode is the code
    //to be called from the file, location is the location to 
    //insert the <script> element

    var scriptTag = document.createElement('script');
    scriptTag.src = url;

    scriptTag.onload = implementationCode;
    scriptTag.onreadystatechange = implementationCode;

    location.appendChild(scriptTag);
};
$("#modifyRecipe").click(function(){
$("#blocklyDiv").html();
var w = modifyBlocks.recipes.length;
for(var c=0;c<w;c++){
$("#blocklyDiv").append(modifyBlocks.recipes[c]);

}
$("#blocklyDiv").fadeIn(500);
});
$("#conditionsButton").click(function(){
$("#createNewRecipe").hide(0);
$("#saveConditions").hide(0);
$("#saveConditionsFile").hide(0);
$.cachedScript( "https://cdn.jsdelivr.net/npm/blockly@1.0.0/blockly_compressed.js" ).done(function( script, textStatus ) {
$.cachedScript( "https://cdn.jsdelivr.net/npm/blockly@1.0.0/blocks_compressed.js" ).done(function( script, textStatus ){


  $.cachedScript( "https://cdn.jsdelivr.net/npm/blockly@1.0.0/msg/js/fr.js" ).done(function( script, textStatus ) {
$.cachedScript( "https://cdn.jsdelivr.net/npm/blockly@1.0.0/javascript_compressed.js" ).done(function( script, textStatus ) {
loadJS('/blocks.js', function(){
loadJS('/js/stub.ejs', function(){


         $("#createNewRecipe").fadeIn(1000); 
$.getJSON('/recipes_list/',function(data){
modifyBlocks=data;

         $("#modifyRecipe").fadeIn(1000); 

});

}, document.body);
}, document.body);
});
});
});



});

});




jQuery.cachedScript = function( url, options ) {
 
  // Allow user to set any option except for dataType, cache, and url
  options = $.extend( options || {}, {
    dataType: "script",
    cache: true,
    url: url
  });
 
  // Use $.ajax() since it is more flexible than $.getScript
  // Return the jqXHR object so we can chain callbacks
  return jQuery.ajax( options );
};
 
// Usage

		$('.page').mousedown(function(e){ //fonction qui permet de cacher les popup lorsqu'on clique a coté
			if(! $(show_actual).is(e.target) // if the target of the click isn't the container
				&&  $(show_actual).has(e.target).length === 0){ //nor a descendant of the container
   				$('.popup').each(function(){
					$(show_actual).hide(1000);
});//on cache le popup actuel
			}
		});

$(".settings_menu_button").click(menuButton);
function menuButton(){
var toOpen = $(this).attr("id").replace("Button","Box");

$("#"+toOpen).show(500);
$(this).parent().hide(500);
$("#settings-step-back").show(100);
}


$("#settings-step-back").click(function(){
	var toClose = '#'+$('.settings_page:visible').attr("id");
	var toOpenButton = toClose.replace("Box","Button");
var toOpen = $(toOpenButton).parent();

	


	
$(toClose).hide(500);
toOpen.show(500);
if(toOpen.attr('id') == 'settings_main_menu'){
$("#settings-step-back").hide(100);
}
});
$("#turnPluginsButton").click(function(){
$.getJSON("/list_plugins/",function(data){
var old = put_in_object(data.plugins);
var pluginsName = Object.keys(data.plugins),
	dataLength = pluginsName.length;
var txt ='';
var arrayCheck = ['','checked'];
for(var i = 0; i < dataLength; i++){

txt += '<div class="downloaded_plugin"><div class="downloaded_plugin_name">'+ pluginsName[i].replace('pratos_',''). replace('_plugin','') + '</div><label class="switch"><input '+ arrayCheck[data.plugins [pluginsName[i]]] + '  type="checkbox" id="'+ pluginsName[i]+'"><span class="sliderSettings round"></span></label></div>';

}
$("#turnPluginsBox").html('<h2>Gérer</h2> '+txt);
$(".switch > input").unbind();
$(".switch > input").change(function(){
var type = 0;
$(".savedPluginsTurn").remove();
if($(this).is(":checked")){type=1;}
data.plugins[$(this).attr('id')] = type;
if(!is_same(data.plugins,old)){

$("#turnPluginsBox").append("<div class='savedPluginsTurn ' id='savedPlugins'><button>Sauvegarder</button></div>");
$('.savedPluginsTurn').show(1000);
$(".savedPluginsTurn > button").unbind();
$(".savedPluginsTurn > button").click(function(){

$.post('/toggle_plugins/', {pluginsList:data},function(response){
if(response == 'reboot_allowed'){
		$('#rebootpopup').html("<h2>Redémarrer</h2><p>Pour appliquer les modifications, Pratos doit redémarrer. Voulez-vous redémarrer maintenant ?</p><button onClick='reboot(true)'  id='validate_ban'>Oui</button><button onClick='reboot(false)' id='validate_ban'>Non</button>");
$('#rebootpopup').show(1000);
show_actual = '#rebootpopup';
}
else{
alert('Erreur');
}
});

});
}
else{
$('.savedPluginsTurn').hide(1000);
$(".savedPluginsTurn").remove();
}
});
});

});

$("#deletePluginsButton").click(function(){
$.getJSON("/list_plugins/",function(data){
var pluginsName = Object.keys(data.plugins),
	dataLength = pluginsName.length;
var txt ='';
var arrayCheck = ['inactive_plugin','active_plugin'];
for(var i = 0; i < dataLength; i++){

txt += '<div class="downloaded_plugin '+ arrayCheck[data.plugins [pluginsName[i]]] + '"><div class="downloaded_plugin_name">'+ pluginsName[i].replace('pratos_',''). replace('_plugin','') + '</div><input  class="delete_plugin_check" type="checkbox"></div>';

}
$("#deletePluginsBox").html('<h2>Supprimer</h2> '+ txt);
$(".delete_plugin_check").change(function(){
var has_checked = 0;
var listPlugins = Array();
$(".delete_plugin_check").each(function(){

if($(this).is(':checked')){
listPlugins.push('pratos_'  + $(this).siblings('.downloaded_plugin_name').text() + '_plugin');
has_checked = 1;
}

});
if(has_checked){
has_checked=0;
$(".savedPluginsDelete").remove();
$("#deletePluginsBox").append("<div class='savedPluginsDelete' id='savedPlugins'><button>Sauvegarder</button></div>");

$('.savedPluginsDelete').show(1000);
$(".savedPluginsDelete > button"). unbind();
$(".savedPluginsDelete > button"). click(function(){


$.post('/remove_plugins/', {pluginsList:listPlugins},function(response){
if(response == 'reboot_allowed'){
		$('#rebootpopup').html("<h2>Redémarrer</h2><p>Pour appliquer les modifications, Pratos doit redémarrer. Voulez-vous redémarrer maintenant ?</p><button onClick='reboot(true)'  id='validate_ban'>Oui</button><button onClick='reboot(false)' id='validate_ban'>Non</button>");
$('#rebootpopup').show(1000);
show_actual = '#rebootpopup';
}
else{
alert('Erreur');
}
});
});
}
else{
$('.savedPluginsDelete').hide(1000);
$(".savedPluginsDelete").remove();
}
});
});

});
function is_same(objOne, objTwo){
var objOneKeys = Object.keys(objOne),
	objOneLength = objOneKeys.length,
	objTwoKeys = Object.keys(objTwo),
	objTwoLength = objTwoKeys.length;

if(objOneLength==objTwoLength){
for(var i = 0; i < objOneLength; i++){

if(objOne[objOneKeys[i]] != objTwo[objTwoKeys[i]]){
return false;
}
else if(objOne[objOneKeys[i]] == objTwo[objTwoKeys[i]] && i == (objOneLength-1)){
return true;
}
}

}
else{

return false;
}
}
function put_in_object(objOne){
var objOneKeys = Object.keys(objOne),
	objOneLength = objOneKeys.length;
var n = Object();
for(var i = 0; i < objOneLength; i++){
n[objOneKeys[i]] = objOne[objOneKeys[i]];
}

return n;
}
function reboot(t){
if(!t){
		$(show_actual).hide(1000);
}
else{
$.get('/reboot/',function(data){
	if(data == 'rebooting'){
		alert('Pratos is rebooting, please wait');
		setTimeout(function(){location.reload()},5000);
}
else{
alert('Erreur');
}
});

}
}
$("#createNewRecipe").click(function(){
$("#blocklyDiv").css("width","100%");
$("#genratorBlockly").css("width","100%");
$("#genratorBlockly").css("height","200px");
$("#blocklyDiv").fadeIn(1000);
workspacePlayground = Blockly.inject('blocklyDiv',{toolbox: document.getElementById('toolbox')});

function myUpdateFunction(event) {
  var code = Blockly.JavaScript.workspaceToCode(workspacePlayground);
  //document.getElementById('genratorBlockly').value = code;
}
workspacePlayground.addChangeListener(myUpdateFunction);
$("#createNewRecipe").fadeOut(500);
$("#saveConditions").fadeIn(500);
$("#saveConditionsFile").fadeIn(500);
$("#saveConditions").click(function(){
var q = $("#saveConditionsFile").val();
var code = Blockly.JavaScript.workspaceToCode(workspacePlayground);
var wk = Blockly.Xml .domToText (Blockly.Xml.workspaceToDom(workspacePlayground));

$.post('/conditionsRegister',{name:q,code:code, workspace:wk},function(data){
data = parseInt(data);
if(data){
		$('#rebootpopup').html("<h2>Redémarrer</h2><p>Pour appliquer votre recette, Pratos doit redémarrer. Voulez-vous redémarrer maintenant ?</p><button onClick='reboot(true)'  id='validate_ban'>Oui</button><button onClick='reboot(false)' id='validate_ban'>Non</button>");
$('#rebootpopup').show(1000);
show_actual = '#rebootpopup';
$('html, body').animate({
        scrollTop: $('h1').offset().top
    }, 500);
}
else{
		$('#rebootpopup').html("<h2>La recette \""+q+"\"existe déjà, voulez-vous la remplacer ? </h2><button onClick='condtionsSaveForce(true)'  id='validate_ban'>Oui</button><button onClick='condtionsSaveForce(false)' id='validate_ban'>Non</button>");

$('#rebootpopup').show(1000);
show_actual = '#rebootpopup'; 
$('html, body').animate({
        scrollTop: $('h1').offset().top
    }, 500);
}
});
});

});
function condtionsSaveForce(sate){
if(sate){
		$(show_actual).hide(1000);
var q = $("#saveConditionsFile").val();
var code = Blockly.JavaScript.workspaceToCode(workspacePlayground);
var wk = Blockly.Xml .domToText (Blockly.Xml.workspaceToDom(workspacePlayground));

$.post('/conditionsRegister',{name:q,code:code,changeConfirmed:"true",workspace:wk},function(data){

data = parseInt(data);
if(data){
		$('#rebootpopup').html("<h2>Redémarrer</h2><p>Pour appliquer votre recette, Pratos doit redémarrer. Voulez-vous redémarrer maintenant ?</p><button onClick='reboot(true)'  id='validate_ban'>Oui</button><button onClick='reboot(false)' id='validate_ban'>Non</button>");
$('#rebootpopup').show(1000);
show_actual = '#rebootpopup';
$('html, body').animate({
        scrollTop: $('h1').offset().top
    }, 500);
}
else{
alert('erreur');
}
});
}else{
		$(show_actual).hide(1000);
}
}
$("#styleButton").click(function(){
var global_color = $("h2").css("color");
var background_color = $("body").css("background-color");
    $('#cp8_container').colorpicker({
      color: global_color,
      inline: true,
      container: true,
useAlpha: false,
format: "rgba"
    }). on('colorpickerChange colorpickerCreate', function (e) {
        
           $("h1,h2, #nav .fa-bars, #nav .closebtn, #nav .colored, #menu-step-back").css('color', e.color.toRgbString());
           $("header,  .settings_menu_button,#nav .colored").css('border-color', e.color.toRgbString());
           $(".settings_pagebox input:checked").css('background-color', e.color.toRgbString());

        $('#nav').addClass('full-nav'). promise().done(function(){ 
           $(".full-nav").css('border-color', e.color.toRgbString()) .promise().done(function(){ 
        $('#nav').removeClass('full-nav');
});
});
});
    $('#cp9_container').colorpicker({
      color: background_color,
      inline: true,
      container: true,

format: "rgba",
useAlpha: false,
		
    }). on('colorpickerChange colorpickerCreate', function (e) {
        $('#nav').addClass('full-nav'). promise().done(function(){ 
           $(".full-nav").css('background-color', e.color.toRgbString()) .promise().done(function(){ 
        $('#nav').removeClass('full-nav');
});
});

           $("html,body").css('background-color', e.color.toRgbString());
           $("#nav .not_colored").css('color', e.color.toRgbString());

});

});
$("#resetColors").click(function(){
  $('#cp9_container'). colorpicker('setValue',"#350E00");
  $('#cp8_container'). colorpicker('setValue',"#05FEFF");
});
$("#saveColors").click(function(){


var colorSet = 0;
var socket = io.connect("https://" + document.domain,{secure:true});
var lastReceived;
var nC = $('#cp8_container').data('colorpicker').color. toRgbString();
 socket.on('connect', function(data) {
if(!colorSet){
    socket.emit('updateCSSRequest', nC, $('#cp9_container').data('colorpicker').color. toRgbString());
$("#styleBox button").hide(1000);
$("#flexStyle").html("<div id='progressbar'></div> <div id='styleState'>Chargement...<br /> Cela peut prendre quelques minutes. </div>");
$( "#progressbar" ).progressbar({
      value: false
    });
$( "#progressbar" ).find( ".ui-progressbar-value" ).css("background-color",nC);
socket.on('disconnect',function(){alert('er');});
socket.on('updateCSSERROR',function(x){alert(x);});
	socket.on('updateCSS', function(ans,step) {
setInterval(function(){socket.emit('updateCSSRECONNECTION');},1000);
setTimeout(function(){alert("Quelque chose a disfonctionné");location.reload();},360000);

if(step == 6){
socket.emit('updateCSSConfirm');
setTimeout(function(){location.reload();},2000);

}

colorSet = 1;
});
}
});
});


</script>
<style> #cp9_container,#cp8_container{
text-align:center;
}
#styleBox{
text-align:center;
}
#flexStyle{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
#saveColors{
margin-left:50%;
}
#resetColors,#saveColors{background: 0;
			border: 1px solid #D8D8D8;
text-align: center;
display: inline-block;
	color: #D8D8D8;
	padding: 1%;
	font-size: 90%;
border-radius: 15px;
cursor:pointer;
margin: 5% 5% ;}
.ui-progressbar {
    background-color: #ccc;
width:80%
margin:2% auto;
  }
  #progressbar .ui-progressbar-value,.ui-progressbar-indeterminate{
width:100%;
}
#styleState{
color:white;
margin-top:3%;
}
</style>
		<% 
var contentNames = Object.keys(content);
var contentL = contentNames.length;

		var loaded ={};
		for(var u = 0; u < contentL; u++){ 
var y = new RegExp(content[contentNames[u]].page,'g');
			if(y.test(page_name) && !loaded[content[contentNames[u]].script]){
loaded[content[contentNames[u]].script] == 1;%>
	<%- content[contentNames[u]].script %>
	<%	}}
	%>
</html>
